/* font style */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

ul {
    list-style-type: none;
}

/* heading for main page */
#heading {
    font-size: clamp(24px, 5vw, 40px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto; 
}

/* text style */
.about {
    position: absolute;
    top: 15%;
    right: 10%;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    line-height: 15px;
    width: 80%;
}

/* navigation bar */
.nav {
    position: absolute;
    bottom: 15%;
    right: 10%;
    font-family: "Space Mono", monospace;
    line-height: 40px;
    font-size: 24px; 
    text-align: right;
}

/* navigation bar item style */
.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin-bottom: 10px;
}

.navItem {
    position: relative;
    display: inline-block;
}

.navItem a {
    color: inherit;
    text-decoration: none;
}

.navItem a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navItem a:hover::after {
    visibility: visible;
    width: 100%;
}

/* Burger menu styles */
.nav-toggle {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Responsive design */
@media (max-width: 768px) {
    .nav {
        bottom: 15%;
        right: 10%;
        font-size: 18px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
        background: white;
        position: absolute;
        bottom: 40px;
        right: 0;
        width: 200px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav li {
        margin-bottom: 5px;
        width: 100%;
        text-align: right;
    }
}

/* CSS */
.button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:focus {
    color: white;
}

.button:hover {
    border-color: black;
    color: white;
    background-color: black;
}

.button:hover a {
    color: white;
}

.button:active {
    border-color: black;
    color: white;
    background-color: black;
}

@media (min-width: 768px) {
    .button {
        clamp(24px, 5vw, 40px)
    }
}

/* remove hyperlink color */
.hyperlink {
    color: black;
    text-decoration: none;
} 
